<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online learning academy</title>
    <div th:replace="~{fragments :: styles}"></div>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.css}"/>
    <style>
        table.table tr:hover, table.table tr.table-danger:hover, table.table tr.table-primary:hover, table.table tr.table-secondary:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
        table.table tr.selected, table.table tr.table-danger.selected, table.table tr.table-primary.selected, table.table tr.table-secondary.selected {
            border: 2px solid #000;
        }
        .scrollable-container {
            height: calc(100vh - 56px);
            overflow-y: auto;
        }
        #details-card {
            position: sticky;
            top: 1rem;
        }
        body {
            background-color: #e9e9e9;
        }
    </style>
</head>
<body>

<div class="d-flex flex-column">
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="d-flex flex-row">
        <div th:replace="~{fragments :: sidebar('areas_of_study')}"></div>
        <div class="b-example-divider"></div>
        <div class="container-fluid scrollable-container">
            <br />
            <div class="row">
                <div class="col-md-8 offset-md-3 mx-auto">
                    <div class="card border-dark">
                        <div class="card-body">
                            <div class="card-header">
                                <h3 class="text-left" th:text="${'Edit course: ' + course.name}"> </h3>
                                <h3 class="text-left" th:text="${'Teachers for this course: ' + teacherNames}"></h3>
                            </div>
                            <form method="post" th:action="@{/course/edit}">
                                <input type="hidden" name="id" th:value="${course.id}">
                                <div class="form-group mb-3">
                                    <label for="name" class="form-label">Name:</label>
                                    <input id="name" type="text" class="form-control" name="name" th:value="${course.name}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="desc" class="form-label">Description:</label>
                                    <textarea id="desc" class="form-control" name="description" rows="7" th:text="${course.description}"></textarea>
                                </div>
                                <div class="container">
                                    <div class="row gx-2">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-cloud-upload-fill"></i> Save
                                            </button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmCourseModalCenter">
                                                <i class="bi bi-trash3"></i> Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />
                    <div class="card border-dark">
                        <div class="card-body" th:if="${not #lists.isEmpty(lessons)}">
                            <div class="card-header">
                                <h3 class="text-left" th:text="${'List of lessons in the course ' + course.name}"></h3>
                                <p class="text-left">Click on a lesson to see details</p>
                            </div>
                            <table class="table">
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col" class="col-12">Topic</th>
                                </tr>
                                </thead>
                                <tbody th:each="lesson : ${lessons}">
                                    <tr th:data-id="${lesson.id}"
                                        th:data-bs-toggle="collapse"
                                        th:data-bs-target="'#collapse-' + ${lesson.id}">
                                        <th scope="row" th:text="${lesson.topic}"></th>
                                    </tr>
                                    <tr>
                                        <td colspan="1" style="padding: 0 !important;">
                                            <div th:id="'collapse-' + ${lesson.id}" class="collapse p-3 border border-dark bg-light">
                                                <form method="post" action="/lesson/edit">
                                                    <input type="hidden" name="id" th:value="${lesson.id}"/>
                                                    <input type="hidden" name="courseId" th:value="${lesson.courseId}"/>
                                                    <div class="mb-3">
                                                        <label for="topic" class="form-label">Topic:</label>
                                                        <input id="topic" type="text" class="form-control" name="topic" th:value="${lesson.topic}">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="content" class="form-label">Content:</label>
                                                        <textarea id="content" class="form-control" name="content" rows="4" th:text="${lesson.content}"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="date" class="form-label">Lesson start date:</label>
                                                        <input id="date" type="text" class="default" name="date" th:value="${lesson.date}"/>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="status" class="form-label">Status:</label>
                                                        <select id="status" class="form-select" name="status">
                                                            <option value="IN PROGRESS" th:selected="${lesson.status == 'IN PROGRESS'}">IN PROGRESS</option>
                                                            <option value="HAS ENDED" th:selected="${lesson.status == 'HAS ENDED'}">HAS ENDED</option>
                                                            <option value="IS EXPECTED" th:selected="${lesson.status == 'IS EXPECTED'}">IS EXPECTED</option>
                                                        </select>
                                                    </div>
                                                    <div class="container">
                                                        <div class="row gx-2">
                                                            <div class="col-auto">
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i class="bi bi-cloud-upload-fill"></i> Save
                                                                </button>
                                                            </div>
                                                            <div class="col-auto">
                                                                <button type="button" class="btn btn-danger"
                                                                             data-bs-toggle="modal"
                                                                             data-bs-target="#confirmLessonModalCenter"
                                                                             th:attr="data-bs-id=${lesson.id}">
                                                                    <i class="bi bi-trash3"></i> Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body" th:unless="${not #lists.isEmpty(lessons)}">
                            <h3>There are currently no lessons in this course.</h3>
                        </div>
                        <div class="card-footer">
                            <button th:attr="onclick=|addLesson('${course.id}')|" class="btn btn-primary">
                                <i class="bi bi-plus-square"></i>Add lesson
                            </button>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmLessonModalCenter" tabindex="-1" role="dialog" aria-labelledby="confirmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete the lesson?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                After deleting a lesson, all student visits will be deleted
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="POST">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash3"></i>Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmCourseModalCenter" tabindex="-1" role="dialog" aria-labelledby="confirmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete the course?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                After deleting a course, all of its classes and student attendance will be deleted
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" th:action="@{/course/delete/__${course.id}__}">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash3"></i>Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments :: scripts}"></div>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/locales/bootstrap-datetimepicker.ru.js}"></script>

<script>
    $(function(){
        $(".default").datetimepicker();
    });

    function scrollToElement(element) {
        element.scrollIntoView({behavior: 'smooth', block: 'center'});
    }

    document.querySelectorAll('[data-bs-toggle="collapse"]').forEach(function (element) {
        element.addEventListener('click', function (event) {
            const collapseElement = document.querySelector(event.currentTarget.dataset.bsTarget);
            setTimeout(function() {
                scrollToElement(collapseElement);
            }, 350);
        });
    });

</script>

<script type="text/javascript" th:src="@{/js/list_lessons_script.js}"></script>

</body>
</html>